<div class="card-text font-weight-light ml-1 ml-md-4">
  <p style="font-size: 1rem; margin-top: 0.5rem;">
    For detailed information about my projects, please visit the <a href="{{ '/projects/' | relative_url }}" style="font-weight: 500;">Projects page</a>.
  </p>
</div>
